
.line-flex {
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
}

.red-box {
  background-color: red;
}

.green-box {
  background-color: green;
}

.yellow-box {
  background-color: yellow;
}

.blue-box {
  background-color: blue;
}

.left-margin {
  margin: 10px 10px 10px 0px;
}

.right-margin {
  margin: 10px 0px 10px 10px;
}

.box-align {
  justify-content: center;
}
